body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}

.Mesa {
    display: flex;
    gap: 300px;
    flex-direction: row;
}

.Card {
    width: 220px;
    transform: scale(130%);
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    color: white;
    box-shadow: 0 10px 20px rgba(148, 142, 142, 0.4);
    transition: 0.3s;
}

.Card:hover {
    transform: scale(1.70);
}

.Card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}


.Interaçoes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
}

.Interaçoes a {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
    text-decoration: none;
}

button {
    padding: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.Impecionar {
    background: white;
    color: black;
}



.Impecionar2 {
    background: black;
    color: white;
}

/* cores dos cards */
.Charmander { background: linear-gradient(15deg, #e74c3c, red) }
.Squirtle { background: linear-gradient(15deg, #3498db, blue) }
.Bulbassauro { background: linear-gradient(15deg, #2ecc71, green) }