div {
    width: 200px;
    padding: 50px;
    background-color: red;
    border: 5px solid black;
    margin: 0 auto;
}

/* Por conta que sem o width a largura é onfinita, baendo nos dois lados */